.vfrc-image, .vfrc-message ,.vfrc-system-response--list, .c-kedLSQ-eqSMDL-mode-overlay .c-gMpNkY{
    width: 700px !important;
    max-width: 700px !important;
}
.c-PJLV-bOsang-from-user{
    width: 250px !important;
}